@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Newsreader:ital,opsz,wght@1,6..72,700&family=PT+Sans+Narrow&display=swap');
body{
    font-family: 'Lato', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top right,red,yellow);
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    
    
    transform: translateY(-50%);
   
    position: relative;
    top: 50%;
    padding:20px 40px ;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2773a5;
}
.sign-in-header h1{
    font-size: 2.5rem;
    color: black;
}
.sign-in-header p{
    font-size: 0.8rem;
}
.Log-in-form{
    margin: 20px 0;
}
.Log-in-form p{
    margin: 10px 0;
}
.Log-in-form label{
display: block;
font-weight: bold

}


.Log-in-form input{
    width: 100%;
    padding: 2px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}
.signup-footer p{
    text-align: center;
    font: 1rem;
}

.Log-in-form input[type="submit"]{
    background-color: rgb(230, 176, 28);
    border: none;
    cursor: pointer;
}
.Log-in-form input[type="submit"]:hover{
    background-color:rgb(189, 143, 16) ;
}
