<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="logo-nav" class="clearfix">
        <div id="logo">
            logo
        </div>
        <div id="nav">
            nav
        </div>
    </div>
    <div id="header">
        header
    </div>
    <div id="Three-main-div" class="clearfix">
        <div class="box">
           first
        </div>

        <div class="box">
             second
        </div>

        <div class="box">
             third
        </div>

    </div>
</body>
</html>